@page
@model webapp.Pages.bmicalculatorModel
@{
    ViewData["Title"] = "lukas bmi calculator";
}
@using ConsoleAppProject.App02
<h1>BMI Calculator</h1>
@{
    <form method="post">
            <table>
                <tr>
                    <td>Unit System: </td>
                    <td>
                    <select asp-for="UnitSystem" id="UnitSystem">          
                        <option value="imperial">imperial (pounds inches)</option>
                        <option value="metric">metric (kg metres)</option>
                    </select>
                    </td>
                </tr>

                <tr>
                    <td>Weight: </td>
                <td>
                    <input asp-for="UserWeight" id="WeightInp" list="Weight"/>
                </td>
                </tr>

                <tr>
                    <td>Height: </td>
                <td>
                    <input asp-for="UserHeight" id="HeightInp" list="Height" />
                </td>
                </tr>

                <tr>
                    <td><input type="submit" value="Convert" asp-page-handler="Calculate"/></td>
                 </tr>
                </table>
                @Model.output
                <hr/>
                <h5 style="color:red;">Warning:
            you should assume these values are inaccurate if
            you are within minority ethnic groups (BAME) or that you are a
            child, pregnant or someone with a signigicant amount of muscle
                </h5>
    </form>
}
